
body {
  background-color: rgba(142, 73, 156,0.9); /*purple*/
  width: auto;  /*if value change , to check right interactions*/

}

#infoBar h1{
  height: 80px;
  top: 0px;
  left: 20px;
  margin-top: 10px;
  border-radius: 20px;
  font-family: Barrio, sans-serif;
  font-size: 56px;
  color: rgb(255,255,255);
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: rgba(142, 73, 158, 0.9);
}

#infoBar span {
  padding: 20px;
}

#player {
  height: 50px;
  width: 100px;
  background-color: rgb(237, 100, 167); /*red*/
  position: absolute;
  bottom: 0px;
  left: 50%;

  }

/* #bullet is created during the game.
#bullet {
} */

#target {
  height: 600px;
  width: 98%;
  position: absolute;
  top: 120px;
  left: 10px;
  background-color: rgba(142, 73, 158, 0.9);
  background-image:url("../images/rainbowsingle.png");
  background-position: 0 100%;
  background-repeat: no-repeat;

  }
